.about {
  padding-top: 72px;
  padding-bottom: 72px - 16px;
  background-color: $block-bg;

  @media (min-width: $screen-md) {
    padding-bottom: 72px - 40px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-bottom: 32px;

    @media (min-width: $screen-md) {
      margin-bottom: 40px;
    }
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 3);
    margin-bottom: 16px;

    @media (min-width: $screen-md) {
      margin-bottom: 40px;
    }
  }

  &__item {
    padding-left: 22px;
    border-left: 2px solid $text-color;

    span {
      display: block;

      &:first-child {
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
      }

      &:last-child {
        margin-top: 8px;
        font-weight: 500;
      }
    }
  }
}
