.burger {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: 16px;
  background-color: transparent;
  color: inherit;
  border: none;
  user-select: none;
  cursor: pointer;
  transition: color 0.25s;

  &:hover,
  &:focus {
    color: $link-color--hover !important;
  }

  @media (min-width: $screen-xl) {
    display: none;
  }
}
